* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #9dc5c3, #e0e0e0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 20px;
}

.calculator form .display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.calculator form input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    background-color: #f9f9f9;
}

.calculator form input[type="button"] {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.5);
    background: #f9f9f9;
    font-size: 20px;
    color: #3a4452;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

.calculator form input[type="button"]:hover {
    transform: translateY(2px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

form input.equal {
    width: 145px;
}

.calculator form div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator form div:nth-child(2) input[type="button"] {
    width: auto;
}

.calculator form div:last-child input[type="button"] {
    grid-column: span 4;
}
